<h3 style="text-align:center;width:100%">

    {{week[0].date| date:"dd/MM"}} - {{week[week.length-1].date | date:"dd/MM"}}
</h3>

<table style="width:100%;">
    <thead>
        <tr>
            <th class="weekDays" style="width:50px"></th>
            <th class="weekDays">{{'Sun'}}</th>
            <th class="weekDays">{{'Mon'}}</th>
            <th class="weekDays">{{'Tue'}}</th>
            <th class="weekDays">{{'Wed'}}</th>
            <th class="weekDays">{{'Thr'}}</th>
            <th class="weekDays">{{'Fri'}}</th>
            <th class="weekDays">{{'Sat'}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let hour of hoursTier">
            <td style="text-align:center;width:50px">
                {{hour}}:00
            </td>
            <td *ngFor="let day of week">

                <p *ngFor="let event of day.events | calendarHourFilter:{hour:hour} " style="background-color:blanchedalmond " (click)="this.eventClick.emit(event)">
                    {{event.start | date:"HH:mm "}} - {{event.end | date:"HH:mm "}} {{event.patient.name}}
                </p>
            </td>
        </tr>
    </tbody>
</table>