<h1 md-dialog-title>Patient</h1>
<div md-dialog-content>
  <ss-container>
    <ss-row>
      <ss-input col placeholder="Name" [(ngModel)]="patient.name"></ss-input>
      <ss-input col placeholder="E-mail" [(ngModel)]="patient.email"
        type="email"></ss-input>
      <ss-input col placeholder="Cep" [(ngModel)]="postalCode"
        type="number"></ss-input>

      <!--<ss-input col placeholder="City" [(ngModel)]="patient.address.city"></ss-input>
  <ss-input col placeholder="Country" [(ngModel)]="patient.address.country"></ss-input>
  <ss-input col placeholder="State" [(ngModel)]="patient.address.state"></ss-input>
  <ss-input col placeholder="Street" [(ngModel)]="patient.address.street"></ss-input>-->
      <ss-datepicker col placeholder="Data de nascimento"
        [(ngModel)]="patient.birthdate"></ss-datepicker>
      <ss-input col placeholder="Number" [(ngModel)]="patient.address.number"
        type="number"></ss-input>
      <ss-input col placeholder="Complement" [(ngModel)]="patient.address.complement"></ss-input>
      <ss-input col placeholder="Gender" [(ngModel)]="patient.gender"></ss-input>
      <ss-input col placeholder="Phone" [(ngModel)]="patient.phone"
        type="tel"></ss-input>
      <ss-input col placeholder="Cellphone" [(ngModel)]="patient.cellphone"
        type="tel"></ss-input>
    </ss-row>
  </ss-container>
</div>
<div md-dialog-actions>
  <!--<button md-raised-button md-dialog-close>Close</button>-->
  <ss-button (click)="delete()" *ngIf="patient.id">Delete</ss-button>
  <ss-button (click)="saveOrUpdate()">{{patient.id?"Update":"Insert"}}</ss-button>
</div>