<h1 md-dialog-title>Patient</h1>
<div md-dialog-content>
  <md-input-container>
    <input mdInput [(ngModel)]="patient.name" placeholder="Name"
      type="text">
  </md-input-container>
  <md-input-container>
    <input mdInput [(ngModel)]="patient.email" placeholder="E-mail"
      type="email">
  </md-input-container>

  <md-input-container>
    <input mdInput [(ngModel)]="postalCode" placeholder="Cep"
      type="number">
  </md-input-container>

  <!--<md-input-container>
        <input mdInput [ngModel]="patient.address.city" placeholder="City" type="text">
    </md-input-container>

    <md-input-container>
        <input mdInput [ngModel]="patient.address.country" placeholder="Country"
            type="text">
    </md-input-container>

    <md-input-container>
        <input mdInput [ngModel]="patient.address.state" placeholder="State" type="text">
    </md-input-container>
    <md-input-container>
        <input mdInput [ngModel]="patient.address.street" placeholder="Street"
            type="text">
    </md-input-container>-->

  <md-input-container>
    <input mdInput [(ngModel)]="patient.address.number"
      placeholder="Number" type="number">
  </md-input-container>

  <md-input-container>
    <input mdInput [(ngModel)]="patient.address.complement"
      placeholder="Complement" type="text">
  </md-input-container>

  <md-input-container>
    <input mdInput [(ngModel)]="patient.gender" placeholder="Gender"
      type="text">
  </md-input-container>
  <md-input-container>
    <input mdInput [(ngModel)]="patient.phone" placeholder="Phone"
      type="tel">
  </md-input-container>
  <md-input-container>
    <input mdInput [(ngModel)]="patient.cellphone" placeholder="Cellphone"
      type="tel">
  </md-input-container>
  <ss-datepicker [(ngModel)]="patient.birthdate" placeholder="Data de nascimento"></ss-datepicker>
</div>
<div md-dialog-actions>
  <!--<button md-raised-button md-dialog-close>Close</button>-->
  <ss-button (click)="delete()" *ngIf="patient.id">Delete</ss-button>
  <ss-button (click)="saveOrUpdate()">{{patient.id?"Update":"Insert"}}</ss-button>
</div>