<h1 md-dialog-title>User</h1>
<div md-dialog-content>
  <ss-container>
    <ss-row>
      <ss-input placeholder="Name" [(ngModel)]="user.name"></ss-input>
      <ss-input placeholder="Username" [(ngModel)]="user.username"></ss-input>
      <ss-input placeholder="Password" [(ngModel)]="user.password" type="password"></ss-input>
      <ss-checkbox label="Enable" [(ngModel)]="user.enabled"></ss-checkbox>
      <ss-select placeholder="Roles" [(ngModel)]="user.roles" [options]="roles"></ss-select>
    </ss-row>
  </ss-container>
</div>
<div md-dialog-actions>
  <!--<button md-raised-button md-dialog-close>Close</button>-->
  <ss-button (click)="delete()" *ngIf="user.id">Delete</ss-button>
  <ss-button (click)="saveOrUpdate()">{{user.id?"Update":"Insert"}}</ss-button>
</div>