<form #formLogin="ngForm" (ngSubmit)="login()">
  <ss-container>
    <ss-row>
      <md-toolbar color="primary">
        <span i18n="Título login | Um nome sujestivo pra tela de login">Login</span>
      </md-toolbar>

      <!-- Faltando apenas o tratamento de erros -->
      <ss-input col i18n-placeholder="Placeholder usuário | uma dica que indique pro usuário inserir seu usernmae" name="username"
        placeholder="Usuário" [(ngModel)]="user.username"></ss-input>

      <!-- Faltando apenas o tratamento de erros -->
      <ss-input col i18n-placeholder name="password" placeholder="Senha" [(ngModel)]="user.password" type="password"></ss-input>

      <ss-button col i18n-label [disabled]="!formLogin.form.valid" label="Entrar" (click)="formLogin.ngSubmit.emit()"></ss-button>
    </ss-row>
  </ss-container>
</form>