Patient
<br/>
<ss-container>
    <ss-row>
        <ss-button col columns="3" (click)="newPatient()">
            New
        </ss-button>
        <md-input-container style="float:right">
            <input mdInput [(ngModel)]="pageRequest.search" (keyup)="pageRequest.ngOnChanges()"
                placeholder="Search" type="text">
        </md-input-container>
    </ss-row>
    <ss-row *ngIf="pageContent.content && pageContent.content.length>0">
        <!--<ss-datatable value="[nome:'aa']">
            <ss-datatable-column headerText="Nome" value="nome">

            </ss-datatable-column>
        </ss-datatable>-->
        <table style="width:100%">
            <tr>
                <th>Name</th>
                <th>E-mail</th>
                <th>Address</th>
            </tr>
            <tr *ngFor="let p of pageContent.content">
                <td>{{p.name}}</td>
                <td>{{p.email}}</td>
                <td>{{p.address.label}}</td>
                <td>
                    <ss-button icon="edit" (click)="edit(p)" shape="icon">
                    </ss-button>
                </td>
                <td>
                    <ss-button icon="delete" (click)="confirmDelete(p)" shape="icon">
                    </ss-button>
                </td>
            </tr>
        </table>
    </ss-row>
    <ss-row>
        <ss-button col columns="1" offsets="2" (click)="pageRequest.firstPage()"
            [disabled]="pageRequest.first" icon="keyboard_arrow_left">
        </ss-button>
        <ss-button col columns="1" (click)="pageRequest.previousPage()" [disabled]="pageRequest.first">
            <i class="material-icons">keyboard_arrow_left</i>
        </ss-button>
        <ss-button col columns="1" (click)="pageRequest.setNumber(i)" [disabled]="pageRequest.number==i"
            *ngFor="let i of pageRequest.buttonPages">
            {{i}}
        </ss-button>

        <ss-button col columns="1" (click)="pageRequest.nextPage()" [disabled]="pageRequest.last">
            <i class="material-icons">keyboard_arrow_right</i>
        </ss-button>
        <ss-button col columns="1" (click)="pageRequest.lastPage()" [disabled]="pageRequest.last">
            <i class="material-icons">keyboard_arrow_right</i>
        </ss-button>
    </ss-row>
</ss-container>