<p i18n>Paciente</p>
<br/>
<ss-container>
    <ss-row>
        <ss-button col columns="3" i18n-label label="Novo" (click)="newPatient()"></ss-button>
        <ss-input col i18n-placeholder placeholder="Perquisar" [(ngModel)]="pageRequest.search" (keyup)="pageRequest.ngOnChanges()"></ss-input>
    </ss-row>
    <ss-row *ngIf="pageContent.content && pageContent.content.length>0">
        <table style="width:100%">
            <tr>
                <th i18n>Nome</th>
                <th i18n>E-mail</th>
                <th i18n>Endereço</th>
            </tr>
            <tr *ngFor="let p of pageContent.content">
                <td>{{p.name}}</td>
                <td>{{p.email}}</td>
                <td>{{p.address.label}}</td>
                <td>
                    <ss-button icon="edit" (click)="edit(p)" shape="icon">
                    </ss-button>
                </td>
                <td>
                    <ss-button icon="delete" (click)="confirmDelete(p)" shape="icon">
                    </ss-button>
                </td>
            </tr>
        </table>
    </ss-row>
    <ss-row>
        <ss-button col columns="1" offsets="2" (click)="pageRequest.firstPage()" [disabled]="pageRequest.first" icon="keyboard_arrow_left">
        </ss-button>
        <ss-button col columns="1" (click)="pageRequest.previousPage()" [disabled]="pageRequest.first">
            <i class="material-icons">keyboard_arrow_left</i>
        </ss-button>
        <ss-button col columns="1" (click)="pageRequest.setNumber(i)" [disabled]="pageRequest.number==i" *ngFor="let i of pageRequest.buttonPages">
            {{i}}
        </ss-button>

        <ss-button col columns="1" (click)="pageRequest.nextPage()" [disabled]="pageRequest.last">
            <i class="material-icons">keyboard_arrow_right</i>
        </ss-button>
        <ss-button col columns="1" (click)="pageRequest.lastPage()" [disabled]="pageRequest.last">
            <i class="material-icons">keyboard_arrow_right</i>
        </ss-button>
    </ss-row>
</ss-container>