<md-input-container style="float:right">
    <input mdInput [(ngModel)]="pageRequest.search" (keyup)="pageRequest.ngOnChanges()"
        placeholder="Search" type="text">
</md-input-container>
<table style="width:100%">
    <tr>
        <th>Nome</th>
        <th>E-mail</th>
        <th>Endereço</th>
    </tr>
    <tr *ngFor="let p of pageContent.content">
        <td>{{p.name}}</td>
        <td>{{p.email}}</td>
        <td>{{p.address.label}}</td>
        <td (click)="edit(p)"> <i class="material-icons">edit</i> </td>
        <td (click)="edit(p)"> <i class="material-icons">delete</i> </td>
    </tr>
</table>
<br/>

<button md-raised-button (click)="pageRequest.previousPage()" [disabled]="pageRequest.first">
            <i class="material-icons">keyboard_arrow_left</i>
    </button> {{pageRequest.page}}
<button md-raised-button (click)="pageRequest.nextPage()" [disabled]="pageRequest.last">
            <i class="material-icons">keyboard_arrow_right</i>
    </button>
<br/>
<br/>
<br/>
<div *ngIf="patient">
    <md-input-container>
        <input mdInput [(ngModel)]="patient.name" placeholder="Name" type="text">
    </md-input-container>
    <md-input-container>
        <input mdInput [(ngModel)]="patient.email" placeholder="E-mail" type="email">
    </md-input-container>
    <md-input-container>
        <input mdInput [(ngModel)]="patient.address.street" placeholder="Street"
            type="text">
    </md-input-container>

    <md-input-container>
        <input mdInput [(ngModel)]="patient.address.number" placeholder="Number"
            type="number">
    </md-input-container>

    <md-input-container>
        <input mdInput [(ngModel)]="patient.address.complement" placeholder="Complement"
            type="text">
    </md-input-container>

    <md-input-container>
        <input mdInput [(ngModel)]="patient.address.city" placeholder="City" type="text">
    </md-input-container>

    <md-input-container>
        <input mdInput [(ngModel)]="patient.address.country" placeholder="Country"
            type="text">
    </md-input-container>

    <md-input-container>
        <input mdInput [(ngModel)]="patient.address.state" placeholder="State"
            type="text">
    </md-input-container>

    <md-input-container>
        <input mdInput [(ngModel)]="patient.gender" placeholder="Gender" type="text">
    </md-input-container>
    <md-input-container>
        <input mdInput [(ngModel)]="patient.phone" placeholder="Phone" type="tel">
    </md-input-container>
    <md-input-container>
        <input mdInput [(ngModel)]="patient.cellphone" placeholder="Cellphone"
            type="tel">
    </md-input-container>

    <br/>

    <button md-raised-button (click)="save()">
            <i class="material-icons">save</i>
    </button>
</div>