<h3 style="text-align:center;width:100%">

    {{weeks[1][0].date| date:"MM/yy"}}
</h3>

<table style="width:100%;">
    <thead>
        <tr>
            <th class="weekDays">{{'Sun'}}</th>
            <th class="weekDays">{{'Mon'}}</th>
            <th class="weekDays">{{'Tue'}}</th>
            <th class="weekDays">{{'Wed'}}</th>
            <th class="weekDays">{{'Thr'}}</th>
            <th class="weekDays">{{'Fri'}}</th>
            <th class="weekDays">{{'Sat'}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let week of weeks">
            <td class="daysMonthlyView" style="height:100px" *ngFor="let day of week">
                <p class="calendarDayNumber">
                    <span>
                        {{day.date| date:"dd"}}
                    </span>
                </p>
                <div *ngFor="let event of day.events" (click)="this.eventClick.emit(event)" 
                style="background-color:brown;color:white">
                    <p>
                        {{event.start | date:"HH:mm"}} - {{event.end | date:"HH:mm"}} {{event.patient.name}}</p>
                </div>
            </td>
        </tr>
    </tbody>
</table>