<md-toolbar color="primary">
    <button md-icon-button (click)="sidenav.toggle()">
                    <md-icon class="md-24" >menu</md-icon>
            </button>
    <button md-icon-button (click)="sidenav.toggle()">
        change sidenav mode
            </button>
    <h1 style="margin:0 5px">Clinic</h1>
    <span class="spacer"></span>

    <button md-icon-button (click)="logout()">
                    <md-icon class="md-24" >exit_to_app</md-icon>
            </button>
</md-toolbar>
<md-sidenav-container>
    <md-sidenav #sidenav>
        <md-nav-list>
            <md-list-item [authorizedRoles]="navItem.authorizedRoles" [routerLink]="[navItem.route]"
                *ngFor="let navItem of navItems">
                <md-icon md-list-icon>{{navItem.icon}}</md-icon>
                <h4 md-line>{{navItem.name}}</h4>
            </md-list-item>
        </md-nav-list>
    </md-sidenav>

    <div>
        <md-card style="margin:10px auto;">
            <router-outlet></router-outlet>
        </md-card>
    </div>
</md-sidenav-container>