<md-sidenav-container fullscreen>
    <md-sidenav *ngIf="userLogged" #start mode="side" opened="true">
        <md-nav-list>
            <md-list-item [authorizedRole]="navItem.authorizedRoles" [routerLink]="[navItem.route]" *ngFor="let navItem of navItems">
                <md-icon md-list-icon>{{navItem.icon}}</md-icon>
                <h4 md-line>{{navItem.name}}</h4>
            </md-list-item>
        </md-nav-list>
    </md-sidenav>

    <div>
        <md-toolbar color="primary">
            <button *ngIf="userLogged" md-icon-button (click)="start.toggle()">
                    <md-icon class="md-24" >menu</md-icon>
            </button>
            <div class="demo-toolbar">
                <h1>Clinic</h1>
                <!--        <button md-button (click)="toggleFullscreen()" title="Toggle fullscreen">
                          Fullscreen
                        </button>-->
            </div>

            <span style="flex: 1 1 auto;"></span>
            <button *ngIf="userLogged" md-raised-button (click)="logout()">
                Exit
            </button>
        </md-toolbar>

        <md-card style="margin:3px">
            <router-outlet></router-outlet>
        </md-card>
    </div>
</md-sidenav-container>