<md-toolbar color="primary" class="fixed-header mat-elevation-z4" layout="row">

    <ss-button icon="menu" shape="icon" color="white" (click)="sidenav.toggle()">
    </ss-button>

    <h1 style="margin:0 5px">Clinic</h1>
    <span class="spacer"></span>

    <ss-button shape="icon" color="white" icon="exit_to_app" (click)="logout()">
    </ss-button>
</md-toolbar>
<md-sidenav-container id="sidenav-container" fullscreen>
    <md-sidenav #sidenav [mode]="isLargeScreen()?'side': 'over'" [opened]="isLargeScreen()"
        style="width:200px" class="mat-elevation-z16">
        <md-nav-list style="width:100%">
            <md-list-item [routerLink]="[navItem.route]" *ngFor="let navItem of navItems">
                <md-icon md-list-icon>{{navItem.icon}}</md-icon>
                <h4 md-line>{{navItem.name}}</h4>
            </md-list-item>
        </md-nav-list>
    </md-sidenav>

    <div style="margin: 1%;">
        <md-card style="margin:0 auto;max-width:1200px">
            <router-outlet></router-outlet>
        </md-card>
    </div>
</md-sidenav-container>