.spacer {
  flex: 1 1 auto;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100% !important;
}

#sidenav-container {
  top: 56px;
  @media (min-width: 600px) {
    top: 64px !important;
  }
}

#sidenav-container,
#toolbar {
  // margin-top: 85px;
}
