<h3 style="text-align:center;width:100%">
    {{day.date| date:"dd/MM/yy"}}
</h3>

<table style="width:100%;">
    <thead>
        <tr [ngSwitch]="day.date.getDay()">
            <th class="weekDays" style="width:50px"></th>
            <th class="weekDays" *ngSwitchCase="0" i18n>{{'Dom'}}</th>
            <th class="weekDays" *ngSwitchCase="1" i18n>{{'Seg'}}</th>
            <th class="weekDays" *ngSwitchCase="2" i18n>{{'Ter'}}</th>
            <th class="weekDays" *ngSwitchCase="3" i18n>{{'Qua'}}</th>
            <th class="weekDays" *ngSwitchCase="4" i18n>{{'Qui'}}</th>
            <th class="weekDays" *ngSwitchCase="5" i18n>{{'Sex'}}</th>
            <th class="weekDays" *ngSwitchCase="6" i18n>{{'Sab'}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let hour of hours">
            <td style="text-align:center;width:50px">
                {{hour}}:00
            </td>
            <td>
                <p *ngFor="let event of day.events | calendarHourFilter:{hour:hour}" style="background-color:blanchedalmond" (click)="this.eventClick.emit(event)">
                    {{event.start | date:"HH:mm"}} - {{event.end | date:"HH:mm"}} {{event.patient.name}}
                </p>
            </td>
        </tr>
    </tbody>
</table>