<div fxLayout="row" fxLayout.sm="column" fxLayoutWrap fxLayoutGap="5%">
    <ss-card>
        <ss-row *ngIf="pastHandbook">
            <ss-button [disabled]="handbookPageRequest.last" (click)="handbookPageRequest.nextPage()">
                <i class="material-icons">keyboard_arrow_left</i>
            </ss-button>
            <p fxFlex style="text-align:center">{{pastHandbook.dateTime| date:"dd/MM/yy"}}</p>
            <ss-button [disabled]="handbookPageRequest.first" (click)="handbookPageRequest.previousPage()">
                <i class="material-icons">keyboard_arrow_right</i>
            </ss-button>
        </ss-row>
        <ss-row *ngIf="pastHandbook">
            <br/> 
            <p i18n>Resumo:</p> {{pastHandbook.resume}}
        </ss-row>
    </ss-card>
    <ss-card>
        <ss-row>
            <p style="text-align:center" i18n>Prontuário</p>
        </ss-row>
        <ss-row *ngIf="event">
            <br/>
            <ss-input col i18n-placeholder placeholder="Doença" [(ngModel)]="event.handbook.disease"></ss-input>
            <ss-input col i18n-placeholder placeholder="Observações" [(ngModel)]="event.handbook.observations"></ss-input>
        </ss-row>
    </ss-card>
</div>

<br/><p>Duração</p> {{currentDate|async|date:"mm:ss"}}
<br/>
<div *ngIf="event">
    <p i18n>Evento:</p> {{event.start | date:"dd/MM/yy hh:mm"}} - {{event.end | date:"dd/MM/yy hh:mm"}}
    <br/>
    <p i18n>Paciente:</p> {{event.patient.name}}
</div>
<ss-button i18n-label (click)="save()" label="Salvar">
    <i class="material-icons">save</i>
</ss-button>