<div fxLayout="row" fxLayout.sm="column" fxLayoutWrap fxLayoutGap="5%">
    <md-card fxFlex>
        <md-card-header>
            <div fxFlex fxLayoutWrap *ngIf="pastHandbook">
                <button fxFlex="50px" md-raised-button [disabled]="handbookPageRequest.last" (click)="handbookPageRequest.nextPage()">
                        <i class="material-icons">keyboard_arrow_left</i>
                </button>
                <p fxFlex style="text-align:center">{{pastHandbook.dateTime| date:"dd/MM/yy"}}</p>
                <button fxFlex="50px" md-raised-button [disabled]="handbookPageRequest.first" (click)="handbookPageRequest.previousPage()">
                        <i class="material-icons">keyboard_arrow_right</i>
                </button>
            </div>
        </md-card-header>
        <md-card-content *ngIf="pastHandbook">
            <div fxFlex>
                <br/> Patient: {{pastHandbook.patient.name}}
                <br/> Resume: {{pastHandbook.resume}}
            </div>
        </md-card-content>
    </md-card>
    <md-card fxFlex>
        <md-card-header>
            <div fxFlex fxLayoutWrap>
                <p fxFlex style="text-align:center">Handbook</p>
            </div>
        </md-card-header>
        <md-card-content>
            <div fxFlex>
                <br/>
                <md-input-container>
                    <input mdInput placeholder="Disease" [(ngModel)]="handbook.disease">
                </md-input-container>
                <md-input-container>
                    <textarea mdInput placeholder="Observations" [(ngModel)]="handbook.observations"></textarea>
                </md-input-container>
            </div>
        </md-card-content>
    </md-card>

</div>

<br/>Duration {{currentDate|async|date:"mm:ss"}}
<button md-raised-button style="float:right">
    <i class="material-icons">save</i>
    </button>