<div fxLayout="row" fxLayout.sm="column" fxLayoutWrap fxLayoutGap="5%">
    <md-card fxFlex>
        <md-card-header>
            <div fxFlex fxLayoutWrap>
                <button fxFlex="50px" md-raised-button [disabled]="">
                        <i class="material-icons">keyboard_arrow_left</i>
                </button>
                <p fxFlex style="text-align:center">Last Handbooks</p>
                <button fxFlex="50px" md-raised-button [disabled]="">
                        <i class="material-icons">keyboard_arrow_right</i>
                </button>
            </div>
        </md-card-header>
        <md-card-content>
            <div fxFlex>
                <br/> Event: {{lastHandbook.event}}
                <br/>
                <md-input-container>
                    <input mdInput placeholder="Disease" [disabled]="true" value="lastHandbook.disease">
                </md-input-container>
                <md-input-container>
                    <textarea mdInput placeholder="Observations" [disabled]="true">{{lastHandbook.observations}}</textarea>
                </md-input-container>
            </div>
        </md-card-content>
    </md-card>
    <md-card fxFlex>
        <md-card-header>
            <div fxFlex fxLayoutWrap>
                <p fxFlex style="text-align:center">Handbook</p>
            </div>
        </md-card-header>
        <md-card-content>
            <div fxFlex>
                <br/> Event: {{handbook.disease}}
                <br/>
                <md-input-container>
                    <input mdInput placeholder="Disease" ([ngValue])="handbook.disease">
                </md-input-container>
                <md-input-container>
                    <textarea mdInput placeholder="Observations" ([ngValue])="handbook.observations"></textarea>
                </md-input-container>
            </div>
        </md-card-content>
    </md-card>

</div>

<br/>

<button md-raised-button style="float:right">
    <i class="material-icons">save</i>
    </button>