<!--<p>{{user.name}} - {{user.username}} - {{user.password}} - {{user.enabled}} - {{user.roles}}</p>-->

<ss-row>
    <ss-button col columns="3" i18n-label (click)="createNew()" label="Novo"></ss-button>
</ss-row>
<ss-row>
    <table col columns="12">
        <tr>
            <th i18n>Nome</th>
            <th i18n>Usuário</th>
            <th i18n>Senha</th>
            <th i18n>Ativo</th>
            <th i18n>Nível</th>
            <th></th>
            <th></th>
        </tr>
        <tr *ngFor="let user of users">
            <td>{{user.name}}</td>
            <td>{{user.username}}</td>
            <td>{{user.password}}</td>
            <td>{{user.enabled}}</td>
            <td>{{user.roles}}</td>
            <td>
                <ss-button icon="create" shape="icon" (click)="editUser(user)">
                </ss-button>
            </td>
            <td>
                <ss-button icon="delete" shape="icon" (click)="confirmDelete(user)">
                </ss-button>
            </td>
        </tr>
    </table>
</ss-row>