<p>
    user works!
</p>

<md-input-container>
    <input mdInput placeholder="Name" [(ngModel)]="user.name" />
</md-input-container>
<md-input-container>
    <input mdInput placeholder="Username" [(ngModel)]="user.username" />
</md-input-container>
<md-input-container>
    <input mdInput placeholder="Password" type="password" [(ngModel)]="user.password" />
</md-input-container>
<md-checkbox [(ngModel)]="user.enabled">
    Enabled
</md-checkbox>
<md-select placeholder="Roles" [(ngModel)]="user.role">
    <md-option *ngFor="let role of roles" [value]="role">
        {{role}}
    </md-option>
</md-select>


<button md-raised-button (click)="saveUser()">Save</button>
<button md-raised-button (click)="cleanUser()">Cancel</button>

<br />

<table>
    <tr>
        <th>Name</th>
        <th>Username</th>
        <th>Password</th>
        <th>Enabled</th>
        <th>Roles</th>
        <th></th>
        <th></th>
    </tr>
    <tr *ngFor="let user of users">
        <td>{{user.name}}</td>
        <td>{{user.username}}</td>
        <td>{{user.password}}</td>
        <td>{{user.enabled}}</td>
        <td>{{user.roles}}</td>
        <td>
            <button md-button (click)="editUser(user)"><md-icon>create</md-icon></button>
        </td>
        <td>
            <button md-button (click)="deleteUser(user.id)"><md-icon>clear</md-icon></button>
        </td>
    </tr>
</table>