<div fxLayout="row" fxLayoutWrap>
    <button md-raised-button fxFlex="auto" (click)="periodView=0">Month</button>
    <button md-raised-button fxFlex="auto" (click)="periodView=1">Week</button>
    <button md-raised-button fxFlex="auto" (click)="periodView=2">Day</button>
</div>
<!--layout-->
<br/>
<div fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between">
    <button fxFlex="50px" md-raised-button (click)="changeDate(-1)" [disabled]="pagination.first">
            <i class="material-icons">keyboard_arrow_left</i>
    </button>
    <button fxFlex="50px" md-raised-button (click)="changeDate(1)" [disabled]="pagination.last">
            <i class="material-icons">keyboard_arrow_right</i>
    </button>
    <button fxFlex="50px" md-raised-button (click)="calendar.centerOnNow()">
            <i class="material-icons">gps_fixed</i>
    </button>
    <button fxFlex="50px" md-raised-button (click)="openDialog()">
            <i class="material-icons">add</i>
    </button>
</div>
<div [ngSwitch]="periodView">
    <app-calendar-monthly-view [weeks]="calendar.weeks" *ngSwitchCase="0" (eventClick)="eventClick($event)">
    </app-calendar-monthly-view>
    <app-calendar-weekly-view [week]="calendar.weeks[calendar.currentWeekOfMonth]" *ngSwitchCase="1">
    </app-calendar-weekly-view>
    <app-calendar-daily-view [day]="calendar.weeks[calendar.currentWeekOfMonth][calendar.currentDayOfWeek]" *ngSwitchCase="2">
    </app-calendar-daily-view>
</div>

<div id="dialog" open="dialogOpened">
    <h1>Event</h1>
    <ul>
        <li *ngFor="let patient of patientsOptions">{{patient.name}}</li>
    </ul>

</div>

<div>
    <md-dialog-container>
        content
    </md-dialog-container>
</div>